@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

nav {
  display: flex;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  font-size: 0.9em;
  margin: 0;
}

nav div.pull-left, nav div.pull-right {
  display: flex;
  align-items: center;
}

nav a {
  padding: 2em 1.5em;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  color: #333;
  align-self: center;
}

nav a.brand {
  background: #E91E63;
  font-weight: 700;
  border: none;
  color: #fff;
}

nav a.brand:hover {
  background: #E91E63;
}

nav a:hover {
  background: #eee;
}

nav a:last-child {
  border: none;
}

nav span.badge {
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  background: #3F51B5;
  padding: 0.3em 0.7em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  margin-left: 0.5em;
}

div.content {
  padding: 2em;
}

div.content h1 {
  margin: 0;
}

div.content h2 {
  margin: 0 0 0.7em;
  color: #666;
}

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

form div.input-group {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form label {
  flex-basis: 30%;
  font-size: 0.9em;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=date], form input[type=number] {
  flex-basis: 70%;
  font-family: inherit;
  padding: 0.3em;
  border: 1px solid #aaa;
  border-radius: 2px;
}

form input:focus {
  outline: none;
}

form input[type=submit] {
  border: none;
  color: #fff;
  background: #E91E63;
  border-radius: 2px;
  padding: 1em;
}

form input[type=submit]:hover {
  cursor: pointer;
  background: #C2185B;
}

form.feed, form.notification {
  max-width: 700px;
  margin: 0 auto 2em;
}

form.feed textarea, form.notification textarea {
  font-family: inherit;
  padding: 1em;
  font-size: 1.3em;
  border: none;
  background: #eee;
  border-radius: 2px;
  margin: 0 0 0.2em;
}

form.feed textarea:focus, form.notification textarea:focus {
  outline: none;
}

form.feed span#characters, form.notification span#characters {
  display: block;
  text-align: right;
  padding: 0.3em;
  color: #666;
}

form.notification div#users {
  padding: 1em 0;
}

div.notification {
  max-width: 700px;
  margin: 0 auto 2em;
  text-align: center;
  color: #E91E63;
}

div.sharing {
  max-width: 900px;
  color: #222;
}

div.sharing h1 {
  margin: 0 0 1em;
}

div.sharing h2 {
  margin: 1em 0 0.5em;
  color: #333;
}

div.sharing h3 {
  text-transform: uppercase;
  font-size: 1em;
  margin: 2em 0 1em;
  color: #E91E63;
}

div.sharing p {
  font-size: 1.1em;
  line-height: 1.25em;
  margin: 0 0 1.15em;
  text-align:justify;
  letter-spacing: 0.01em;
}

div.sharing hr {
  margin: 3em 1em;
  border-top: 1px solid #bbb;
}

div.sharing table {
  width: 100%;
  margin: 1em 1em 2em;
  border-collapse: collapse;

}

div.sharing table thead {
  display: table-header-group;
}

div.sharing table thead tr td {
  border-bottom: 3px solid #ddd;
  font-weight: 600;
}

div.sharing table tbody tr td:first-child {
  font-weight: 600;
}

div.sharing table td {
  padding: 1em 0.5em;
}

div.sharing table tbody td {
  border-bottom: 1px solid #ddd;
}

ul#posts {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  max-width: 700px;
  background: #eee;
  padding: 1em;
}

ul#posts li {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin: 0 0 1em;
  background: #fff;
  font-size: 0.95em;
  border-bottom: 3px solid #ddd;
}

ul#posts div.post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

ul#posts li span.username {
  font-weight: 700;
  color: #E91E63;
  font-size: 1.2em;
}

ul#posts li span.posted {
  font-size: 0.8em;
}

ul#posts li div.post-body {
  padding: 1em;
}

ul#posts li div.post-footer {
  padding: 0.7em 1em;
  margin: 1em 0 0;
  font-size: 0.85em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  align-items: center;
}

ul#posts li div.post-footer a {
  display: inline-flex;
  text-decoration: none;
  border: 1px solid #9C27B0;
  color: #9C27B0;
  padding: 0.3em 0.7em;
  border-radius: 2px;
}

ul#posts li div.post-footer a:hover {
  background: #9C27B0;
  cursor: pointer;
  color: #fff;
}

ul#posts li div.post-footer a.unlike {
  border: 1px solid #FF5722;
  color: #FF5722;
}

ul#posts li div.post-footer a.unlike:hover {
  background: #FF5722;
  color: #fff;
}

ul#posts li div.post-footer a.mute {
  border: 1px solid #3F51B5;
  color: #3F51B5;
}

ul#posts li div.post-footer a.mute:hover {
  background: #3F51B5;
  color: #fff;
}

ul#notifications {
  max-width: 700px;
  margin: 0 auto 2em;
  padding: 0;
  list-style-type: none;
}

ul#notifications li {
  background: #F44336;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  margin: 0 0 0.5em;
  padding: 1em 1.5em;
}

ul#notifications li a {
  background: #F44336;
  border: 1px solid #fff;
  padding: 0.5em 1em;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 0.9em;
  cursor: pointer;
}

ul#notifications li a:hover {
  background: #D32F2F;
}

div#options {
  margin: 2em auto 1em;
  text-align: center;
  padding: 1em 0;
  max-width: 700px;
}

div#options a {
  padding: 0.5em 1em;
  border: 1px solid #aaa;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

div#options a:hover {
  background: #eee;
  cursor: pointer;
}

div.video-wrapper {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em 0;
}

div.video-wrapper span.caption {
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #666;
  font-size: 0.85em;
}

span.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: 1em;
  margin-right: 0.5em;
  margin-bottom: -0.1em;
}

span.icon.like {
  background-image: url('../svg/like.svg');
}

div.admin-tools {
  max-width: calc(700px - 2em);
  margin: 0 auto 2em;
  padding: 1em;
  border: 1px solid #eee;
}

div.admin-tools ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.dashboard {
  text-align: center;
  max-width: calc(700px - 2em);
  margin: 0 auto 1em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #aaa;
  overflow: hidden;
}

div.dashboard h3 {
  text-align: left;
  background: #333;
  color: #fff;
  margin: 0 0 2em;
  padding: 1em;
}

div.dashboard h4 {
  text-align: left;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

div.dashboard form {
  padding: 0 2em 1em;
  background: #f6f6f6;
  margin: 0;
}

div.dashboard form textarea {
  background: #aaa;
}

footer {
  padding : 1em;
  border-top: 1px solid #eee;
  color: #666;
  margin-top: 2.5em;
}
